.elementor-73 .elementor-element.elementor-element-4c9e2569{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--gap:10px;--background-transition:0.3s;--padding-top:0.7rem;--padding-right:1.25rem;--padding-bottom:0.7rem;--padding-left:1.25rem;}.elementor-73 .elementor-element.elementor-element-4c9e2569:not(.elementor-motion-effects-element-type-background), .elementor-73 .elementor-element.elementor-element-4c9e2569 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#191919;}.elementor-73 .elementor-element.elementor-element-4c9e2569, .elementor-73 .elementor-element.elementor-element-4c9e2569::before{--border-transition:0.3s;}.elementor-73 .elementor-element.elementor-element-ad8a186{width:var( --container-widget-width, 25.376% );max-width:25.376%;--container-widget-width:25.376%;--container-widget-flex-grow:0;}.elementor-73 .elementor-element.elementor-element-ad8a186.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-73 .elementor-element.elementor-element-77672305{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-end;--align-items:center;--background-transition:0.3s;}.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-menu-toggle{margin-left:auto;background-color:#02010100;}.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu .elementor-item{font-family:"Montserrat", Sans-serif;font-weight:500;}.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main .elementor-item{color:#FFFFFFCF;fill:#FFFFFFCF;}.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:var( --e-global-color-secondary );}.elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-underline .elementor-item:after,
					 .elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-overline .elementor-item:before,
					 .elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-double-line .elementor-item:before,
					 .elementor-73 .elementor-element.elementor-element-41e823f7 .e--pointer-double-line .elementor-item:after{height:0px;}.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu__container.elementor-nav-menu--dropdown{box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.4);}.elementor-73 .elementor-element.elementor-element-41e823f7 div.elementor-menu-toggle{color:var( --e-global-color-text );}.elementor-73 .elementor-element.elementor-element-41e823f7 div.elementor-menu-toggle svg{fill:var( --e-global-color-text );}.elementor-73 .elementor-element.elementor-element-41e823f7{width:var( --container-widget-width, 74.031% );max-width:74.031%;--container-widget-width:74.031%;--container-widget-flex-grow:0;}.elementor-73 .elementor-element.elementor-element-41e823f7.elementor-element{--flex-grow:0;--flex-shrink:0;}@media(max-width:767px){.elementor-73 .elementor-element.elementor-element-4c9e2569{--content-width:100vw;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap:nowrap;--padding-top:0.8rem;--padding-right:1.25rem;--padding-bottom:0.8rem;--padding-left:1.25rem;--z-index:100;}.elementor-73 .elementor-element.elementor-element-41e823f7{--nav-menu-icon-size:34px;}}@media(min-width:768px){.elementor-73 .elementor-element.elementor-element-4c9e2569{--content-width:1140px;}}/* Start custom CSS for nav-menu, class: .elementor-element-41e823f7 */.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown {
        position: absolute;
    width: auto !important;
    right: 0;
    left: auto !important;
    background: #2e3130;
    border-radius: 8px;
    padding: 1rem;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown a {
    border: 1px solid transparent;
    white-space: nowrap;
    color: var(--e-global-color-text);
    border-radius: 8px;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown a:hover {
    background: none;
    border-color: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown a:before {
    opacity: 1 !important;
    position: relative;
    display: flex;
    place-items: center;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main ul {
    display: flex;
    gap: 1rem;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main ul:after {
    display: none;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main ul li {
    border: 1px solid transparent;
    border-radius: 8px;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main .current-menu-item,
.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown .current-menu-item, .elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown .current-menu-item a {
    background: var(--e-global-color-primary) !important;
    border: 1px solid var(--e-global-color-primary);
    border-radius: 8px;
    color: var(--e-global-color-secondary);
    font-weight: bold !important;
   
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main .current-menu-item a {
     font-weight: bold !important;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main ul li a, .elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown a {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main ul li:hover {
    border: 1px solid var(--e-global-color-primary);
    
}

.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--main ul li a:before,
.elementor-73 .elementor-element.elementor-element-41e823f7 .elementor-nav-menu--dropdown ul li a:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
        -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    display: flex;
    width: 20px;
    height: 20px;
    background: transparent !important;
    opacity: 1 !important;
    position: relative;
}

.elementor-73 .elementor-element.elementor-element-41e823f7 nav ul li:nth-child(1) a:before {
    content: "\f015";
}

.elementor-73 .elementor-element.elementor-element-41e823f7 nav ul li:nth-child(2) a:before {
    content: "\f4c4";
}

.elementor-73 .elementor-element.elementor-element-41e823f7 nav ul li:nth-child(3) a:before {;
    content: "\f35d";
}

.elementor-73 .elementor-element.elementor-element-41e823f7 nav ul li:nth-child(4) a:before {
    content: "\f35d";
}/* End custom CSS */